/* globals.css */
:root {
  --primary-color: #746c6c;
  --secondary-color: #0070f3;
  --font-color: #fff;
  --input-border-color: #ccc;
  --input-border-radius: 8px;
  --button-border-radius: 8px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --background-overlay: rgba(0, 0, 0, 0.5);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.overlay {
  background-color: var(--background-overlay);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
